.App {
  text-align: center;
}

.right,
.right-selector {
  float: right;
}

.right-selector {
  margin-left: auto;
  margin-right: 10px;
}

.left,
.left-selector {
  float: left;
}

.middle-selector {
  margin-left: auto;
  margin-right: auto;
}

.left-selector {
  margin-left: 10px;
  margin-right: auto;
}

.lone-selector {
  margin-left: 10px;
  margin-right: 10px;
}

.center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.center-bold {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

.hidden {
  display: none;
}
.change-golfer {
  border-style: none none solid none;
  border-color: #ffffff;
  color: #fff;
  font-size: 24px;
  background-color: #00365f;
  text-align: center;
}

input :not(#next) {
  border: 1px solid black;
  width: 150px;
  font-size: 14px;
  padding: 2px;
}

input:hover :not(#next) {
  background-color: #eee;
}

input:focus:not(#next) {
  background-color: #ccf;
}

input:not(:focus) :not(#next) {
  text-align: center;
}

/* Table Formatting */
caption {
  font-weight: bold;
}
/* Individual */

th.individual-left-header-cell {
  background-color: #ffffff;
  color: #000000;
  width: 20%;
}

th.individual-other-header-cell {
  text-align: center;
  background-color: #3378ac;
  color: #ffffff;
  width: fit-content;
}

td.individual-left-row-cell {
  text-align: center;
  background-color: #3378ac;
  color: #ffffff;
  font-weight: bold;
  width: fit-content;
}

td.individual-other-row-cell {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  width: fit-content;
}

/* Games */

#games-table {
  width: fit-content;
}

th.game-header-cell {
  text-align: center;
  background-color: #3378ac;
  color: #ffffff;
  width: fit-content;
}

td.game-left-row-cell {
  text-align: left;
  background-color: #ffffff;
  color: #000000;
}

td.game-other-row-cell {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

/* Lineup */

/* #lineup-table-div {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
} */

#lineup-table {
  width: fit-content;
}

#help-table {
  width: 100%;
}

table.team-table {
  width: 100%;
}

th.lineup-left-header-cell,
td.lineup-left-row-cell {
  text-align: left;
  background-color: #ffffff;
  color: #000000;
}

th.lineup-other-header-cell {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  width: fit-content;
}

td.lineup-other-row-call {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  width: fit-content;
}

td.lastName-col {
  text-align: left;
}

td.help-topic {
  font-weight: bold;
  vertical-align: top;
  width: 20%;
}

table,
.golfer-center {
  margin-left: auto;
  margin-right: auto;
  font: 16px sans-serif;
  /*font-weight: bold;*/
  width: 90%;
}

.table-tip-td {
  text-align: left;
}

.lineup-left-header-cell {
  width: 200px;
}
td.team-card-col-player,
div.team-card-col-players,
span.team-card-col-players {
  text-align: left;
}

.select-dropdown-container {
  margin-left: auto;
  margin-right: auto;
  font: 16px sans-serif;
  font-weight: bold;
  width: fit-content;
}

.select-manual-CH {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: "";
  border: none;
}
.display-user-game-table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.tee {
  border-style: none none none none;
  color: #ffffff;
  background-color: #3378ac;
}

.dropdown-center {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.link-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

nav {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  float: none;
  text-align: center;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 0px solid #ccc;
  border-top: 0px solid #ccc;
  height: 23px;
}

.navitem {
  padding: 1px 15px;
  text-decoration: none;
  color: black;
  border-right: 1px solid #ccc;
  height: 23px;
}

.navitem-last {
  padding: 1px 15px;
  text-decoration: none;
  color: black;
  border-right: 1px solid #fff;
  height: 23px;
}
.navitem:hover,
.navitem-last:hover {
  color: #c00;
  background-color: #fff;
}

.header {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  overflow: hidden;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 0px;
  top: 0;
  height: 42px;
  color: #ffffff;
  font-size: 24px;
  background-color: #00365f;
  text-align: center;
  z-index: 1;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.28);
}

.mybtn-primary {
  color: #fff;
  background-color: #3378ac;
  border-color: #3378ac;
}

button,
#next {
  background-color: #3378ac;
  padding: 1px 15px;
  text-decoration: none;
  height: 23px;
  border-color: #3378ac;
  border: 2px solid #3378ac;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
}
button:hover,
#next:hover {
  -webkit-appearance: none;
  border-radius: 0;
  color: #c00;
  background-color: white;
}

.mybtn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  text-align: center;
}
#playerName {
  border-color: #3378ac;
  border-bottom: 1px solid #3378ac;
}

.container h2 {
  text-align: center;
  margin: 25px auto;
}

.list-lineups {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: fit-content;
  margin: auto;
  border: 1px solid black;
}

/*   .list-lineup{
    padding: 5px;
    text-align: center;
    width: fit-content;
    max-width: 750px;
  } */
/*   ul li{
    border: 1px solid #3378AC;
  } */

li:hover {
  color: #c00;
  background-color: #fff;
}

/* #lineup-table {  
  border: 1px solid black;
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
  padding-left: 11px;
} */

.lineup-table-head {
  text-align: center;
  font: 16px sans-serif;
  font-weight: bold;
}

tfoot {
  text-align: left;
}

.team-table-footer {
  text-align: center;
  font-style: italic;
  /*font-weight: bold;*/
}

textarea {
  font: 16px sans-serif;
  resize: both;
}

p {
  font: 16px sans-serif;
}

.background-white {
  background-color: white;
}
